@import '../sass/_component';

.main {
	padding: $gutter_width 0;

	@media ( min-width: $desktop_min ) {
		padding: $gutter_width;
		margin-bottom: $gutter_width;
		background-color: white;
	}
}

.post {
	@include clearfix;
	
	&__title {
		margin-bottom: $gutter_width
	}

	&__image {
		display: block;
		width: auto;
		height: auto;
		margin-bottom: $gutter_width / 2;

		@media ( min-width: $desktop_min ) {
			float: left;
			margin: 0 ( $gutter_width / 2 ) ( $gutter_width / 2 ) 0;
		}
	}

	&__content {
		p {
			&:last-of-type {
				margin: 0;
			}
		}
	}
}