@import '../../sass/_component';

.block {
	background-color: $accent_color;
	padding: $gutter_width 0;

	@media ( min-width: $desktop_min ) {
		height: 100px;
		padding: 0;
	}
}

.container {
	@extend %container;
	position: relative;
	height: 100%;
}

.logo-link {
	text-decoration: none;
}

.logo {
	color: white;
	margin-bottom: 15px;

	@media ( min-width: $desktop_min ) {
		float: left;
		height: 100%;
		line-height: 100px;
		margin-bottom: 0;
	}
}

.nav {
	@media ( min-width: $desktop_min ) {
		@include center_vertical;
		right: ( $gutter_width / 2 );
	}
}