.container {
	margin: 0 auto;
	width: 100%;
	padding: 0 ( $gutter_width / 2 );
	max-width: 1080px + $gutter_width;
}

.row {
	margin: 0 ( $gutter_width / 2 * -1 );
	@include clearfix;
}

// column placeholder
.col {
	float: left;
	padding: 0 ( $gutter_width / 2 );
}

// generate mobile column classes (12)
@for $i from 12 through 1 {
    .col-#{$i}-mobile {
    	@extend .col;
        width: calc( 100% * #{$i} / 12 );
    }
}

@media ( min-width: $desktop_min ) {
	// generate desktop column classes (12)
	@for $i from 12 through 1 {
	    .col-#{$i}-desktop {
	        width: calc( 100% * #{$i} / 12 );
	    }
	}
}