@import '../../sass/_component';

.sidebar {
	background-color: white;
	margin: 0 ( $gutter_width / 2 * -1 );
	padding: $gutter_width ( $gutter_width / 2 );

	@media ( min-width: $desktop_min ) {
		border-left: 10px solid $accent_color;
		padding: $gutter_width;
		margin: 0 0 $gutter_width 0;
	}

	&__widget {
		margin-bottom: $gutter_width;

		.widgettitle {
			margin-bottom: 15px;
		}

		a {
			color: inherit;
		}

		.cat-item {
			margin-bottom: 10px;

		}

		.menu {
			&-item {
				display: block;
				margin-bottom: 10px;
			}
		}
	}
}

